<%provide(:title, @catalog.catalog_name)%>
<div class="center jumbotron other-color">
  <h1><%=@catalog.catalog_name %></h1>
</div>

<%= form_for Topic.new do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %><br />

  <%= f.label :handle %>:
  <%= f.text_field :handle %><br />

  <%= f.label :description %>:
  <%= f.text_field :description %><br />

  <%= f.submit %>
<% end %>

<div class="center container">
  <div class="row">
    <% @topics.each do |topic| %>
      <div class="jumbotron col-md-3">
          <p>
  	    <%= topic.title %>
  	  </p>
      </div>
    <% end %>
  </div>
</div>
