<%provide(:title, "Home") %>
<div class="center jumbotron other-color">
  <h1>Welcome to Team Finder</h1>
  <p>
    Some stuff about the website goes here.
  </p>
</div>

<div class="center">
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>
 
<% @topics.each do |topic| %>
  <tr>
    <td><%= topic.title %></td>
  </tr>
<% end %>
</table>
</div>
<%= link_to image_tag("dota2logo.png", alt: "Dota2 Logo", height: '32', width: '32'),
	'http://blog.dota2.com/' %>
  <%= link_to image_tag("league_logo-bfd94f798b1abfe6a036242419b3748b.png", alt: "League of Legends Logo", height: '32', width: '32'),
  'http://leagueoflegends.com/' %>
  <%= link_to image_tag("Heroes_Of_The_Storm_138203755237651.jpg", alt: "Heros of the Storm Logo", height: '32', width: '32'),
  'http://us.battle.net/heroes/en/' %>
  <%= link_to image_tag("smite Logo.png", alt: "Smite Logo", height: '32', width: '32'),
  'http://www.hirezstudios.com/smite/' %>
  <%= link_to image_tag("647225de-1a33-4385-b8d4-30f24cf97b53.png", alt: "Heroes of Newerth Logo", height: '32', width: '32'),
  'http://www.heroesofnewerth.com' %>


