<%provide(:title, "Home") %>
<div class="center jumbotron other-color">
  <h1>Welcome to Team Finder</h1>
  <p>
    Team Finder is a bulleton board for finding members of your gameplay caliber to fill out your team in any game your looking for. Find members, friends, clans, whatever your team finding needs are for games like Dota 2, League of Legends, Heroes of the Storm, etc. Check out the available catalogs and filter through some topics to find the team for you! 
  </p>
</div>

<div class="center jumbotron other-color">
<table>
  <thead>
    <tr>
      <th><h2>Current Catalogs</h2></th>
      <th colspan="3"></th>
    </tr>
  </thead>
<<<<<<< HEAD
<% @catalogs.each do |catalog| %>
=======
 
<% @topics.each do |topic| %>
>>>>>>> dev
  <tr>
    <td><%= catalog.catalog_name %></td>
  </tr>
<% end %>
</table>
</div>
<%= link_to image_tag("dota2logo.png", alt: "Dota2 Logo", height: '32', width: '32'),
	'http://blog.dota2.com/' %>
  <%= link_to image_tag("league_logo-bfd94f798b1abfe6a036242419b3748b.png", alt: "League of Legends Logo", height: '32', width: '32'),
  'http://leagueoflegends.com/' %>
  <%= link_to image_tag("Heroes_Of_The_Storm_138203755237651.jpg", alt: "Heros of the Storm Logo", height: '32', width: '32'),
  'http://us.battle.net/heroes/en/' %>
  <%= link_to image_tag("smite Logo.png", alt: "Smite Logo", height: '32', width: '32'),
  'http://www.hirezstudios.com/smite/' %>
  <%= link_to image_tag("647225de-1a33-4385-b8d4-30f24cf97b53.png", alt: "Heroes of Newerth Logo", height: '32', width: '32'),
  'http://www.heroesofnewerth.com' %>


